<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Consent</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/survey/css/main.css">
</head>
<body>

<div class="panel panel-default">
    <div class="panel-heading"><strong>What are some general things you should know about research studies?</strong>
    </div>
    <div class="panel-body">
        <p>You are being asked to take part in a research study. Your participation in this study is voluntary. You have
            the right to be a part of this study, to choose not to participate or to stop participating at any time
            without penalty. The purpose of research studies is to gain a better understanding of a certain topic or
            issue.</p>

        <p>You are not guaranteed any personal benefits from being in a study. Research studies also may pose risks to
            those that participate. In this consent form you will find specific details about the research in which you
            are being asked to participate. If you do not understand something in this form it is your right to ask the
            researcher for clarification or more information. A copy of this consent form will be provided to you. If at
            any time you have questions about your participation, do not hesitate to contact the researcher(s) named
            above.</p></div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><strong>What is the purpose of this study?</strong>
    </div>
    <div class="panel-body">
<p>The purpose of the study is to determine whether tags can be used to generate user-specific policies for sharing
    photos.</p>
</div>
</div>


<div class="panel panel-default">
    <div class="panel-heading"><strong>What will happen if you take part in the study?</strong>
    </div>
    <div class="panel-body">
<p>If you agree to participate in this study, you will be shown an infographic describing how the policy specification
    system works. You will then be shown the tagging system and asked to generate several policies. Afterwards, you will
    be asked to rank the relative importance of the tags you used and to specify policies for randomly generated
    combinations of tags. You will then be presented with questions asking about your mobile knowledge, demographic
    information, and feedback on the system. All of this will take place on your personal computer. The expected time
    required to complete your participation in this study is fifteen minutes.</p>
</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><strong>Risks and Benefits</strong>
    </div>
    <div class="panel-body">
<p>There are minimal risks associated with participation in this research. There are no direct benefits to your
    participation in the research. The indirect benefits are a further understanding of user-specific security policy
    definitions in order to determine if a tag-based approach is a reasonable interface for generating policies.</p>
</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><strong>Confidentiality</strong>
    </div>
    <div class="panel-body">
<p>The information in the study records will be kept confidential to the full extent allowed by law.  Data will be
    stored securely in a password protected folder on a secure network. No reference will be made in oral or written
    reports which could link you to the study.</p>
</div>
</div>



<div class="panel panel-default">
    <div class="panel-heading"><strong>Compensation</strong>
    </div>
    <div class="panel-body">
<p>You will not receive anything for participating in this study.</p>
</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><strong>What if you are a NCSU student?</strong>
    </div>
    <div class="panel-body">
<p>Participation in this study is not a course requirement and your participation or lack thereof, will not affect your
    class standing or grades at NC State.</p>
</div>
</div>



<div class="panel panel-default">
    <div class="panel-heading"><strong>What if you are a NCSU employee?</strong>
    </div>
    <div class="panel-body">
<p>Participation in this study is not a requirement of your employment at NCSU, and your participation or lack thereof,
    will not affect your job.</p>
</div>
</div>



<div class="panel panel-default">
    <div class="panel-heading"><strong>What if you have questions about this study?</strong>
    </div>
    <div class="panel-body">
<p>If you have questions at any time about the study itself or the procedures implemented in this study, you may contact
    the researcher, Andrew McNamara at ajmcnama@ncsu.edu.</p>
</div>
</div>



<div class="panel panel-default">
    <div class="panel-heading"><strong>What if you have questions about your rights as a research participant?</strong>
    </div>
    <div class="panel-body">
<p>If you feel you have not been treated according to the descriptions in this form, or your rights as a participant in
    research have been violated during the course of this project, you may contact Deb Paxton, Regulatory Compliance
    Administrator at dapaxton@ncsu.edu or by phone at 1-919-515-4514.</p>
</div>
</div>


<div class="panel panel-danger">
    <div class="panel-heading"><strong>Consent To Participate</strong>
    </div>
    <div class="panel-body">
<p>“I have read and understand the above information. I have received a copy of this form. I agree to participate in
    this study with the understanding that I may choose not to participate or to stop participating at any time without
    penalty or loss of benefits to which I am otherwise entitled.”</p>
</div>
</div>

<form id="consent" action="{% url 'tutorial' %}" method="post">
    {% csrf_token %}
    <label><input type="radio" name="agree" value="yes"></label>Yes<br/>
    <label><input type="radio" name="agree" value="no"></label>No<br/>
    <input type="submit" name="button" id="next_button" value="Next"/>
</form>

</body>
</html>