<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Policy generator</title>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/survey/css/main.css">
    <link rel="stylesheet" href="/static/survey/css/policy.css">
    <link rel="stylesheet" href="/static/survey/css/rank.css">
    <link rel="stylesheet" href="/static/survey/css/tags.css">

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/676d1f983a.js"></script>

    <script src="/static/survey/js/generate.js"></script>
    <script>
        $(function () {
            $('#default-toggle').change(function () {
                setToggles()
            });
            $('.toggle.btn.btn-success').each(function () {
                var toggle = $(this).find('input');
                if (toggle.attr('id') !== 'default-toggle') {
                    setAction(toggle.attr('id'), toggle.prop('checked'))
                }
            });

            {% for action_id, action_text in actions %}
                $('#{{ action_id }}').change(function () {
                    setAction("{{ action_id }}", $('#{{ action_id }}').prop('checked'))
                });
            {% endfor %}
        });
        function setToggles() {
            state = $('#default-toggle').prop('checked') ? 'on' : 'off';
            {% for action_id, action_text in actions %}
                $('#{{ action_id }}').bootstrapToggle(state);
            {% endfor %}
        }
    </script>
</head>
<body>
<form id="policy_specification" action="{% url 'submit_policy' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="person" value="{{ person }}">
    <input type="hidden" name="get_another" value="True">
    <input id="policy_time" type="hidden" name="time" value="">
</form>
<div id="top_row" class="row">
    <div style="width:98%;margin:0 1%">
        <h3> In order to continue to understand how your tags might interact in policies, please tell us how you
            would specify the actions on the defined policy. We will only use tags that you included in your
            policies.</h3>
    </div>
</div>

<div id="mid_row" class="row">
    <div id="workspace">
        <div id="workspace-label">
            <span class="label label-default" style="font-size: 100%;">Workspace</span>
        </div>
        {% for t in tags %}
            <div id="{{ t.tag_id }}" class="{{ t.tag_class }} tag-properties">{{ t.text }}</div>
        {% endfor %}
    </div>
    <div id="operation">
        <div class="buff"></div>
        <i class="fa fa-check fa-3x" aria-hidden="true" onclick="savePolicy()"></i>
    </div>
    <div id="action">
        <div class="checkbox">
            <input id="default-toggle" type="checkbox" checked data-toggle="toggle" data-onstyle="success"
                   data-offstyle="danger" data-on="Allow" data-off="Deny">
            <span class="label label-default" style="font-size: 100%;">Default action preference</span>
        </div>
        <div class="checkbox">
            {% for action_id, action_text in actions %}
                <label>
                    <input id="{{ action_id }}" type="checkbox" checked data-toggle="toggle" data-onstyle="success"
                           data-offstyle="danger" data-on="Allow" data-off="Deny"> {{ action_text }}
                </label><br>
            {% endfor %}
        </div>
    </div>
</div>

<div id="bottom_row" class="row">
    <div id="policies">

    </div>
</div>

<form id="next_page" action="#" method="post">
    {% csrf_token %}
    <input type="hidden" name="person" value="{{ person }}">
    <input type="submit" name="button" id="next_button" value="Next" disabled/>
</form>
</body>
</html>
