<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Create policies</title>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/survey/css/main.css">
    <link rel="stylesheet" href="/static/survey/css/rank.css">
    <link rel="stylesheet" href="/static/survey/css/tags.css">

    <!--<script src="static/survey/js/jquery/dist/jquery.min.js"></script>-->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/676d1f983a.js"></script>
    <!--<link href="static/survey/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="static/survey/js/bootstrap-toggle.min.js"></script>-->
    <script src="/static/survey/js/change-action.js"></script>
    <script src="/static/survey/js/draggable-tag.js"></script>
    <script src="/static/survey/js/editable-tag.js"></script>
    <script>
        var policyNumber = 0;
        function clearPolicy() {
            // remove all tags from the workspace
            $('#workspace').children('.ui-draggable').each(function () {
                this.remove(); // "this" is the current element in the loop
            });
            // remove all tags from the policy specification
            $('#policy_specification').children("input[name='tag']").each(function() {
                this.remove();
            });
            // reset all toggles to default
            setToggles();
        }
        function savePolicy() {
            // only continue if we have some tags
            var workspaceTags = $('#workspace').children('.ui-draggable');
            if (workspaceTags.length) {
                // submit form to store in database

                // put policy into bottom div
                var tagArray = $('<ul id="' + policyNumber++ + '" class="list-group list-inline"/>');
                tagArray = $('<div id="' + policyNumber + '" class="panel panel-default"/>').append($('<div class="panel-body" style="padding:5px;"/>'));
                //tagArray.append($('<div class="panel-heading">Policy #' + policyNumber++ + '</div>'));
                workspaceTags.each(function() {
                    var tempTag = $(this).clone();
                    tempTag.removeClass('ui-draggable').removeClass('ui-draggable-dragging').removeClass('ui-draggable-handle');
                    tempTag.removeClass('moved-me').removeClass('removable');
                    tempTag.attr('style', '');
                    tempTag.attr('id', src.attr('id').slice(5));
                    //tagArray.append($('<li class="list-group-item list-group-item-danger"/>').append(tempTag[0]));
                    tagArray.children()[0].append(tempTag[0]);
                });
                $('#policies').append(tagArray);
            }
            // and now reset the policy
            clearPolicy();
        }
        $(document).ready(function() {
            savePolicy();
        });
        // function to hide linked tags
        function toggleLinked(linked){
                linked = '#' + linked;
                console.log(linked);
                $(linked).toggle(!this.checked);
        }
        $(function () {
            $('.toggler').change(function () {
                linked = '#' + $(this).attr('linked');
                console.log(linked);
                $(linked).toggle(!this.checked);
            }).change(); //ensure visible state matches initially
        });
    </script>
</head>
<body>
<form id="policy_specification"></form>
<div id="top_row" class="row">
    <div id="suggestions">
        <div id="policy_suggestion">
            <span class="label label-default" style="font-size: 100%;">Policy Suggestions</span>
        </div>
        <div id="tags">
            <div>
                <span class="label label-default" style="font-size: 100%;">Tag Suggestions</span>
                {% for c in classes %}
                    <label class="checkbox-inline"><input type="checkbox" checked value="" ontoggle="toggleLinked('{{ c.tag_class }}-group')">{{ c.tag_class }}</label>
                {% endfor %}
            </div>
            {% for c, ta in tags %}
                <!--ul class="list-group list-inline"-->
                <div id="{{ c }}-group" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ c }}</h3>
                    </div>
                    <div class="panel-body">
                    {% for t in ta %}
                        <!--li class="list-group-item list-group-item-danger"-->
                            <div id="{{ t.tag_id }}" class="{{ c }} tag-properties move-me">{{ t.text }}</div>
                        <!--/li-->
                    {% endfor %}
                        <!--li class="list-group-item list-group-item-danger"-->
                            <div id="custom-{{ c }}" class="{{ c }} tag-properties write-in-me">_____________</div>
                        <!--/li-->
                </div>
                </div>
                <!--/ul-->
                <!--br clear="all"/-->
            {% endfor %}
        </div>
    </div>
    <div id="top_right">
        <div id="tutorial_buffer">&nbsp;</div>
        <div id="tutorial">
            <span class="label label-default" style="font-size: 100%;">Open tutorial</span>
        </div>
        <div id="tutorial_buffer">&nbsp;</div>
    </div>

</div>

<div id="mid_row" class="row">
    <div id="workspace" >
        <div id="trashcompactor">
            <span class="label label-default" style="font-size: 100%;">Workspace</span>
        </div>
        <div id="compactedtrash">
            <i id="trash" class="fa fa-trash fa-4x" aria-hidden="true"></i>
        </div>
    </div>
    <div id="operation">
        <div class="buff"></div>
        <i class="fa fa-check fa-3x" aria-hidden="true" onclick="savePolicy()"></i>
        <i class="fa fa-times fa-3x" aria-hidden="true" onclick="clearPolicy()"></i>
    </div>
    <div id="action">
        <div>
            <input id="default-toggle" type="checkbox" checked data-toggle="toggle" data-onstyle="success"
                   data-offstyle="danger" data-on="Allow" data-off="Deny">
            <span class="label label-default" style="font-size: 100%;">Default action preference</span>
        </div>
        <div class="checkbox">
            <label>
                <input id="toggle1" type="checkbox" checked data-toggle="toggle" data-onstyle="success"
                       data-offstyle="danger" data-on="Allow" data-off="Deny"> Back up to cloud
            </label><br>
            <label>
                <input id="toggle2" type="checkbox" checked data-toggle="toggle" data-onstyle="success"
                       data-offstyle="danger" data-on="Allow" data-off="Deny">
                Share to Friends circle
            </label><br>
            <label>
                <input id="toggle3" type="checkbox" checked data-toggle="toggle" data-onstyle="success"
                       data-offstyle="danger" data-on="Allow" data-off="Deny">
                Share to Acquaintances circle
            </label><br>
            <label>
                <input id="toggle4" type="checkbox" checked data-toggle="toggle" data-onstyle="success"
                       data-offstyle="danger" data-on="Allow" data-off="Deny">
                Share to family circle
            </label><br>
            <label>
                <input id="toggle5" type="checkbox" checked data-toggle="toggle" data-onstyle="success"
                       data-offstyle="danger" data-on="Allow" data-off="Deny">
                Share to public
            </label><br>
        </div>
    </div>
</div>

<div id="bottom_row" class="row">
    <div id="policies">
        <span class="label label-default" style="font-size: 100%;">Defined Policies</span>
        <ul></ul>
    </div>
</div>
</body>
</html>
