<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Create policies</title>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/survey/css/main.css">
    <link rel="stylesheet" href="/static/survey/css/rank.css">
    <link rel="stylesheet" href="/static/survey/css/tags.css">

    <!--<script src="static/survey/js/jquery/dist/jquery.min.js"></script>-->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/676d1f983a.js"></script>
    <!--<link href="static/survey/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="static/survey/js/bootstrap-toggle.min.js"></script>-->
    <!--script src="/static/survey/js/interact.js"></script-->
    <script type="text/javascript">
        function hasClass(element, cls) {
            return (' ' + element.attr('class') + ' ').indexOf(' ' + cls + ' ') > -1;
        }
        function createTag(tag_id) {
            new_id = 'b' + tag_id.slice(1);
            if (document.getElementById(new_id) === null) {

                var input = document.createElement("input");
                input.setAttribute("type", "hidden");
                input.setAttribute("name", "tag");
                input.setAttribute("value", new_id);
                input.setAttribute("id", new_id);

                document.getElementById("policy_specification").appendChild(input);
            }
        }
        $(document).ready(function () {
            $('.move-me').draggable({
                helper: "clone",
                revert: "invalid",
                appendTo: "body"
            }).click(function () {
                //var b = parseInt($(this).width());
                //$(this).css('width', b + 5);
            });
            $('.moved-me').draggable({

            });
            $('#workspace').droppable({
                accept: function(d) {
                    if(d.hasClass("move-me")||(d.hasClass("moved-me"))||d.hasClass("removable")) {
                        return true;
                    }
                },
                drop: function (e, u) {
                    src = u.draggable;
                    var testId = "#drag-" + src.attr("id");
                    if ($(testId).length){

                    }
                    else if (hasClass(src, 'move-me')) {
                        var a = u.helper.clone().attr("id", "drag-" + src.attr("id"));
                        a.removeClass('move-me');
                        a.addClass('moved-me');
                        console.log("INFO: Accepted: ", a.attr("class"));
                        a.css("z-index", 1000);
                        a.appendTo("#workspace");
                        var formId = "pol-" + src.attr("id");
                        var input = document.createElement("input");
                        input.setAttribute("type", "hidden");
                        input.setAttribute("name", "tag");
                        input.setAttribute("id", formId);
                        input.setAttribute("value", src.attr("id"));
                        document.getElementById('policy_specification').appendChild(input);
                        a.on("remove", function() {
                            var removeId = "#" + formId
                            $(removeId).remove();
                        });
                        a.draggable({
                            //containment: "#workspace"
                        }).dblclick(function () {
                            // Enabled Resize on element when double clicked
                            $(this).resizable();
                        });
                    } else if (hasClass(src, 'moved-me')) {
                        src.removeClass('moved-me');
                        src.addClass('removable');
                    }

                }

            });
            $('#trash').droppable({
                accept: '.removable',
                drop: function(event, ui) {
                    ui.draggable.remove();
                }

            });
            $(document).click(function () {
                if ($(".dropped").length) {
                    // Disabled Resize on all elements when #drop
                    $(".ui-resizable").resizable("destroy");
                }
            });
        });

    </script>

    <script>
        function setToggles() {
            state = $('#default-toggle').prop('checked') ? 'on' : 'off';
            $('#toggle1').bootstrapToggle(state);
            $('#toggle2').bootstrapToggle(state);
            $('#toggle3').bootstrapToggle(state);
            $('#toggle4').bootstrapToggle(state);
            $('#toggle5').bootstrapToggle(state);
        }
        $(function() {
            $('#default-toggle').change(function() {
                setToggles()
            })
        })
        function savePolicy() {
            setToggles();
        }
    </script>
</head>
<body>
<form id="policy_specification"></form>
<div id="top_row" class="row">
    <div id="suggestions">
        <div id="policy_suggestion">
            <!--<p class="title">Policy Suggestions</p>-->
            <span class="label label-default" style="font-size: 100%;">Policy Suggestions</span>
        </div>
        <div id="tags">
            <div>
                <!--<p class="title">Tag Suggestions</p>-->
                <span class="label label-default" style="font-size: 100%;">Tag Suggestions</span>
                <label class="checkbox-inline"><input type="checkbox" checked value="">Properties</label>
                <label class="checkbox-inline"><input type="checkbox" checked value="">Things</label>
                <label class="checkbox-inline"><input type="checkbox" checked value="">Type</label>
            </div>
            {% for c, ta in tags %}
                <ul class="list-group list-inline">
                    {{ c }}
                    {% for t in ta %}
                        <li class="list-group-item list-group-item-danger">
                            <div id="{{ t.tag_id }}" class="{{ t.tag_class }} tag-properties move-me">{{ t.text }}</div>
                        </li>
                    {% endfor %}
                </ul>
                <br clear="all"/>
            {% endfor %}
        </div>
    </div>
    <div id="top_right">
        <div id="tutorial_buffer">&nbsp;</div>
        <div id="tutorial">
            <span class="label label-default" style="font-size: 100%;">Open tutorial</span>
        </div>
        <div id="tutorial_buffer">&nbsp;</div>
    </div>

</div>

<div id="mid_row" class="row">
    <div id="workspace" >
        <!--<p class="title">Workspace</p>-->
        <span class="label label-default" style="font-size: 100%;">Workspace</span>
        <div id="trashcompactor">
            <i id="trash" class="fa fa-trash fa-4x" aria-hidden="true"></i>
        </div>
    </div>
    <div id="action_box">
        <div id="operation">
            <div class="buff"></div>
            <i class="fa fa-check fa-3x" aria-hidden="true" onclick="savePolicy()"></i>
        </div>
        <div id="action">
            <!--div id="default_action_toggle"-->
            <div>
                <input id="default-toggle" type="checkbox" checked data-toggle="toggle" data-onstyle="success"
                                         data-offstyle="danger" data-on="Allow" data-off="Deny"> <!--Default action
                    preference &nbsp;-->
                    <span class="label label-default" style="font-size: 100%;">Default action preference</span>
            </div>
            <!--<p class="title" >&nbsp; Default action preference</p>-->
            <div class="checkbox">
                <label>
                    <input id="toggle1" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger"
                           data-on="Allow" data-off="Deny"> Back up to cloud
                </label><br>
                <label>
                    <input id="toggle2" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger"
                           data-on="Allow" data-off="Deny">
                    Share to Friends circle
                </label><br>
                <label>
                    <input id="toggle3" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger"
                           data-on="Allow" data-off="Deny">
                    Share to Acquaintances circle
                </label><br>
                <label>
                    <input id="toggle4" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger"
                           data-on="Allow" data-off="Deny">
                    Share to family circle
                </label><br>
                <label>
                    <input id="toggle5" type="checkbox" checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger"
                           data-on="Allow" data-off="Deny">
                    Share to public
                </label><br>
            </div>
        </div>
    </div>
</div>

<div id="bottom_row" class="row">
    <div id="policies">
        <!--<p class="title">Defined policies</p>-->
        <span class="label label-default" style="font-size: 100%;">Defined Policies</span>
        <ul>

        </ul>
    </div>
</div>
<!--script src="/static/survey/js/rank.js"></script-->
</body>
</html>
