<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tag Ranking</title>
    <script>
        var all_ids = [{{ ids|safe }}];
    </script>
    <script src="/static/survey/js/interact.js"></script>
    <script src="/static/survey/js/rank.js"></script>
    <link rel="stylesheet" href="/static/survey/css/rank.css">
    <link rel="stylesheet" href="/static/survey/css/tags.css">
</head>
<body >
<h2 class="heading">Tag Ranking</h2>

<div class="dropzone-wrapper">
    <div id="drop1" class="dropzone js-drop">Highest Priority</div>
    <div id="drop2" class="dropzone js-drop">High Priority</div>
    <div id="drop3" class="dropzone js-drop">Low Priority</div>
    <div id="drop4" class="dropzone js-drop">Lowest Priority</div>
</div>


<div class="tags">
    {% for c, t in tags %}
        {% if c == 'first' %}
            <div style="position:relative; height: 62px;">
        {% endif %}
        <div id= "{{ t.tag_id }}" class="draggable js-drag {{ t.tag_class }} {{ c }}" >{{ t.text }}</div>
        {% if c == 'third' %}
            </div>
        {% endif %}
    {% endfor %}
	<div id="drag1" class="draggable js-drag">Drag me…</div>
	<div id="drag2" class="draggable js-drag">Drag me…</div>
	<div id="drag3" class="draggable js-drag">Drag me…</div>
	<div id="drag4" class="draggable js-drag">Drag me…</div>
</div>


</body>
</html>