<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tag Ranking</title>
    <link rel="stylesheet" href="/static/survey/css/main.css">
    <link rel="stylesheet" href="/static/survey/css/rank.css">
    <link rel="stylesheet" href="/static/survey/css/tags.css">
    <script>
        var num_policies =
        {{ number }}
    </script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="/static/survey/js/interact.js"></script>
    <script>
        $(document).ready(function () {
            var frm = $('#rank_saver');
            frm.submit(function () {
                alert('submit caught');
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function (data) {
                        console.log('success')
                    },
                    error: function (data) {
                        alert("Something went wrong!" + data);
                    }
                });
                return false;
            });
        });
    </script>
</head>
<body>
<div class="main" style="height: 100vh;width: 100%">
    <!--<h2 class="heading">Tag Ranking</h2>-->
    <div style="width:100%">
        <span class="label label-default" style="font-size: 150%;float:left;margin: 0 16px;">Tag Ranking</span>
        <p> All of the tags that you used to generate your policies are on the right. In order to ensure that we can
            understand
            the relationship between all tags, please drag them into the relevant priority.</p>
    </div>

    <div class="dropzone-wrapper">
        <div id="priority1" class="dropzone js-drop">Highest Priority</div>
        <div id="priority2" class="dropzone js-drop">High Priority</div>
        <div id="priority3" class="dropzone js-drop">Low Priority</div>
        <div id="priority4" class="dropzone js-drop">Lowest Priority</div>
    </div>


    <div class="tags grid" >
        {% if False %}
            {% for c, t in tags %}
                {% if c == 'first' %}
                    <div style="position:relative; height: 62px;">
                {% endif %}
            <div id="{{ t.tag_id }}" class="draggable js-drag {{ t.tag_class }} {{ c }} grid-item">
                {{ t.text }}
            </div>
            {% if c == 'fourth' %}
                </div>
            {% endif %}
            {% endfor %}
            {{ end_div|safe }}
        {% else %}
            {% for c,t in tags %}
                <div id="{{ t.tag_id }}" class="draggable js-drag grid-item {{ t.tag_class }}">
                    {{ t.text }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <form id="rank_saver" action="{% url 'save_rank' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="person" value="{{ person }}">
        <input type="hidden" name="tag" value="" id="saver_form_tag">
        <input type="hidden" name="rank" value="-1" id="saver_form_rank">
    </form>

    <form id="next_page" action="{% url 'generator' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="person" value="{{ person }}">
        <input type="submit" name="button" id="next_button" value="Next" disabled/>
    </form>

</div>
<script src="/static/survey/js/rank.js"></script>
<script type="text/javascript">
    setupFunction('.js-drop', '{{ ids|safe }}')
</script>

</body>
</html>