<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<form>
    <input name="person" type="hidden" value="{{ person_id }}"/>

    {% for q in questions %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ q.question }}</h3>
            </div>
        </div>
        <div class="panel-body">
            <ul class="answers">
                {% for a in q.answers %}
                    <input type="radio" name="{{ q.name }}" value="{{ a.value }}" id="{{ q.name }}{{ a.value }}"><label for="{{ a.value }}" id="{{ q.name }}{{ a.value }}">{{ a.text }}</label><br/>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</form>

</body>
</html>