:root {
  --main-width: 67%;
  --secondary-width: 33%;
}
#main {
    position: relative;
    width: 100%;
    height: 100%;
}

div {
  /*background-color: lightgrey;/**/
}

.row {
    width: 100%;
    height: 33vh;
    margin-right: 0px;
    margin-left: 0px;
    /*background-color: white;/**/
}

p.title {
  margin: 0;
  border: 0;
  border-right: 5px solid lightblue;
  border-bottom: 1px solid black;
  display: inline-block;
}
span.header {
  margin: 0;
  border: 0;
  /*border-right: 5px solid lightblue;*/
  border-bottom: 3px solid black;
  /*display: inline-block;*/
}

div#top_row {
}

div#mid_row {
    float: left;
    width: 100%;
}

div#suggestions{
  float: left;
  width: var(--main-width);
  height: 99%;
  /*background-color: green;/**/
}

div#top_right{
  float: left;
  width: var(--secondary-width);
  height: 99%;
}

div#policy_suggestion {
    float: left;
    width: 48%;
    height: 100%;
    margin: 0 1%;
    overflow-y: scroll;
    /*background-color: lightyellow;/**/
}

div#tags {
    float: right;
    width: 48%;
    height: 100%;
    margin: 0 1%;
    overflow-y: scroll;
    /*background-color: lightyellow;/**/
}

.tag-properties {
    min-width: 10px;
    float: left;
    padding: 2px;
    margin: 2px;
}

div#tutorial_buffer{
  float: left;
  width: 10%;
  height: 100%;
  /*background-color: lightgreen;/**/
}

div#tutorial {
    float: left;
    width: 80%;
    height: 100%;
    /*margin: 0 1%;/**/
    /*background-color: lightyellow;/**/
}

div#workspace{
    float: left;/**/
    width: 65%;
    height: 99%;
    margin: 0 1%;
    z-index: 0;
    background-color: #ccc;
    color: #666;
    overflow: hidden;
    /*background-color: lightyellow;/**/
}

#trashcompactor{
    height: 70%;
    width: 100%;
    vertical-align: bottom;
}

#compactedtrash{
    text-align: center;
}

#trash {
    margin: 0 auto;
    min-width: 10px;
    border:1px solid red;
    /*position:fixed;
    bottom:0;
    right:0;
    width:250px;
    height:150px;/*
    display:inline-block;
    font-size: 40px;
    line-height: 50px;
    /*background-color:black;
    color:white;/**//*
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: bottom;/**/
}

.fa {
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
}

.fa-trash {
    padding: 5px 10px;
    color: red;
}


div#operation{
    float: left;/**/
    width: 6%;
    height: 100%;
    text-align: center;
}
div#operation .buff{
    float: left;
    height: 50%;
    width: 100%;
    margin-bottom: -50px;
}

.fa-check {
    clear: both;
    padding: 5px 5px;
    color: green;
    cursor: pointer;
}

.fa-times {
    clear: both;
    padding: 5px 10px;
    color: red;
    cursor: pointer;
}

div#action {
    float: right;/**/
    width: 25%;
    height: 100%;
    margin: 0 1%;
}

/*div#action{
    float: left;
    width: 100%;
    height: 99%;
    margin: 0;
    /*background-color: lightyellow;/**//*
}/**/

div#policies{
    float: left;
    width: 99%;
    height: 100%;
    margin: 0 1%;

    overflow-y: scroll;
    /*background-color: lightyellow;/**/
}

#next_form {
    position: absolute;
    bottom: 2%;
    right: 2%;
}
