body{
    background-color: #e0e0e0;
}

#next_form {
    position: absolute;
    width: 5%;
    left: 95%;
    bottom: 0px;
}

.progress.bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.progress.top.center {
    /*width: 50%;
    left: 50%;
    margin-left: -25%;*/
}

.panel.middle {
    margin: 5px 5em;
}

