:root {
    --main-width: 67%;
    --secondary-width: 33%;
}

.row {
    width: 100%;
    height: 33vh;
    margin-right: 0px;
    margin-left: 0px;
}

p.title {
    margin: 0;
    border: 0;
    border-right: 5px solid lightblue;
    border-bottom: 1px solid black;
    display: inline-block;
}

span.header {
    margin: 0;
    border: 0;
    border-bottom: 3px solid black;
}

.panel-heading {
    padding: 2px 15px;
}

.panel-body {
    padding: 10px 15px;
}

div#top_row {
}

div#mid_row {
    float: left;
    width: 100%;
}

div#suggestions {
    float: left;
    width: 100%;
    height: 99%;
}

div#policy_suggestion {
    float: left;
    width: 48%;
    height: 100%;
    margin: 0 1%;
    overflow-y: scroll;
}

div#tags {
    float: right;
    width: 48%;
    height: 100%;
    margin: 0 1%;
    overflow-y: scroll;
}

div#tags_no_suggestion {
    float: right;
    width: 98%;
    height: 100%;
    margin: 0 1%;
    overflow-y: scroll;
    border: 1px #000;
}

div#tag_content {

}


div#workspace {
    float: left;
    width: 65%;
    height: 99%;
    margin: 0 1%;
    z-index: 0;
    background-color: #ccc;
    color: #424242;
    overflow: hidden;
}

#workspace-label {
    height: 10%;
    width: 100%;
}

#trashcompactor {
    height: 60%;
    width: 100%;
    vertical-align: bottom;
}

#compactedtrash {
    text-align: center;
}

#trash {
    margin: 0 auto;
    min-width: 10px;
    border: 1px solid red;
}

.fa {
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
}

.fa-trash {
    padding: 5px 10px;
    color: red;
}

div#operation {
    float: left;
    width: 6%;
    height: 100%;
    text-align: center;
}

div#operation .buff {
    float: left;
    height: 50%;
    width: 100%;
    margin-bottom: -50px;
}

div#operation-holder {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.fa-check {
    padding: 5px 5px;
    color: #00C851;
}

.fa-times {
    padding: 5px 10px;
    color: #ff4444;
}

div#action {
    float: right;
    width: 25%;
    height: 100%;
    margin: 0 1%;
}

div#policies {
    float: left;
    width: 99%;
    height: 100%;
    margin: 0 1%;
    overflow-y: scroll;
}
