body { font-family: Helvetica, Arial, sans-serif; }

.heading {
  font-size: 130%;
}

.dropzone-wrapper {
    position: absolute;
    left: 0px;/**/
    right: 0;
    width: 50%;
}

.dropzone {
    overflow: hidden;
    margin: .25em .25em 1em;
    padding: 1em;
    color: #666;
    text-align: center;
    background: #ccc;
    line-height: 7em;
    border: 4px dashed transparent;
    transition: background .15s linear, border-color .15s linear;
}

.tags {
    width: 50%;
    left: 50%;
    margin: 0 1em;
}

.dropzone.-drop-possible { border-color: #666; }

.dropzone.-drop-over {
    background: #424242;
    color: #fff;
}

.draggable {
    z-index: 10;
    width: 100px;
    padding: 1em 1em;
    margin: .25em;
    float: left;
    text-align: center;

    -ms-touch-action: none;
        touch-action: none;
}

.draggable-text {
    height: 100%;
    width: 100%;
    text-align: center;
    overflow-y: scroll;
}

.draggable.-drop-possible { background-color: #42bd41; }
