.type {
    background-color: #0275d8;
    color: #000;
    /*min-width: 10px;
    float: left;
    padding: 2px;/**/
}

.location {
    background-color: #5cb85c;
    color: #000;
    /*min-width: 10px;
    float: left;
    padding: 2px;/**/
}

.things {
    background-color: #5bc0de;
    color: #000;
    /*min-width: 10px;
    float: left;
    padding: 2px;/**/
}

.properties {
    background-color: #f0ad4e;
    color: #000;
    /*min-width: 10px;
    float: left;
    padding: 2px;/**/
}

.time {
    background-color: #d9534f;
    color: #000;
    /*min-width: 10px;
    float: left;
    padding: 2px;/**/
}

.write-in-me {
    cursor: text;
}

.move-me {
    cursor: pointer;
}

.moved-me {
    cursor: pointer;
}

.removable-me {
    cursor: pointer;
}