.type {
    background-color: #009933;
    min-width: 10px;
    float: left;
}

.location {
    background-color: #ff9900;
    min-width: 10px;
    float: left;
}

.things {
    background-color: #006699;
    min-width: 10px;
    float: left;
}

.properties {
    background-color: #cc0066;
    min-width: 10px;
    float: left;
}

.time {
    background-color: #6666ff;
    min-width: 10px;
    float: left;
}
